body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling */
}




header {
    color: #fff;
    padding: 15px;
    text-align: center;
}

.search-form {
    margin-top: 20px;
    text-align: center;
}

.search-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px; /* Adjust the width as needed */
}

.search-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

main {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    height: 100vh;
}

/* For Firefox */
.wallpaper-upper-div {
    overflow-y: auto;
    height: 100vh;
}

/* For WebKit/Blink browsers (Chrome, Safari) */
.wallpaper-upper-div::-webkit-scrollbar {
    width: 12px;
}

.wallpaper-upper-div::-webkit-scrollbar-thumb {
    background-color: #f8f4f4;
    border-radius: 6px;
}

.wallpaper-upper-div::-webkit-scrollbar-track {
    background-color: transparent;
}



.wallpaper {
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wallpaper img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.info {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 15px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media query for wider screens */
@media screen and (min-width: 768px) {
    .search-form input {
        width: 300px; /* Adjust the width as needed for wider screens */
    }
}
