<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Wallpaper Site</title>
</head>

<style>
    body{
        background-image: url("{{wallpapers[0]['largeImageURL']}}");
    }
</style>
<body>
    <header>
        <h1>Wallpaper Site</h1>
        <form action="{{ url_for('search') }}" method="GET" class="search-form">
            <input type="text" name="query" placeholder="Search wallpapers">
            <button type="submit">Search</button>
        </form>
    </header>
    
    <main>
        {% if query %}
            <h2 class="search-results" style="text-align: center;">{{ query }}</h2>
        {% endif %}
        <div class="wallpaper-upper-div">
            {% for wallpaper in wallpapers %}
                <div class="wallpaper">
                    <img src="{{ wallpaper.largeImageURL }}" alt="Wallpaper">
                    <div class="info">
                        <p>Views: {{ wallpaper.views }}</p>
                        <p>Likes: {{ wallpaper.likes }}</p>
                        <p>Downloads: {{ wallpaper.downloads }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Wallpaper Site -RD</p>
    </footer>

</body>
</html>
